.hk-01 {
	background-image: url(../img/03-hk/hk-background.png);
}
.hk-summary {
	padding-top: 100px;
	padding-bottom: 30px;
	text-align: center;
	color: white;
}

h2 {
	margin-top: 0px;
}

.roles-responsibility {
    margin-top: 30px;
	border-left: solid 5px #939393;
}

.hk-04 {
    margin-top: 30px;
	text-align: center;
}

