.intro {
	margin-top : 50px;
	max-width : 940px;
}

.mhcid-link{
	text-decoration: none;
	color: black;
}
.mhcid-link:hover {
	text-decoration: none;
	color: #ED2A6E;
}

.work-header {
	margin-bottom: 30px;
	margin-left: 10px;
	border-left: solid 8px #B8F042;
	padding-left: 10px;
}

#capstone {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom : 10px;

}

#portfolio-web-design {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom : 10px;
}

#hitch-hiker {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom : 10px;
}

#stream {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom : 10px;
}

#eatwell {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom : 10px;
}

#nudesign {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom : 10px;
}



#fizzapron {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom : 10px;
}

#find-it {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom : 10px;
}

#dub-website {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom : 10px;
}

#ttt {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom : 10px;
}

#hfb {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom : 10px;
}

#pencil {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom : 10px;
}
#more-portfolio {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom : 10px;
}