body { 
	 padding-top: 20px;
}

.intro {
	margin-top : 80px;
	margin-bottom: 30px;
	max-width : 940px;
}

#hello {
	font-size: 26px;
}

.mhcid-link{
	text-decoration: none;
	color: black;
}
.mhcid-link:hover {
	text-decoration: none;
	color: #ED2A6E;
}

.work-header {
	margin-bottom: 30px;
	margin-left: 10px;
	border-left: solid 8px #B8F042;
	padding-left: 10px;
}

/*Caption Style*/
figure { 
  display: block; 
  position: relative; 
  overflow: hidden; 
}

figcaption { 
  position: absolute; 
  background: rgba(0,0,0,0.5); 
  color: white; 
  padding: 10px 20px; 

  opacity: 0;
  bottom: 0; 
  left: -30%;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
}

figure:hover figcaption {
  opacity: 1;
  left: 0;
}

/*Top Down Animation For Caption*/
.cap-top figcaption { left: 0; top: -30%; }
.cap-top:hover figcaption { top: 0; }

/*Capstone project Thumbnail*/
#capstone {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom : 10px;
}
#capstone-cap {
	padding-top: 3%;
	padding-left: 3%;
	width: 420px;
}

#portfolio-web-design {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom : 10px;
}
#portfolio-web-design-cap {
	padding-top: 5%;
	padding-left: 5%;
	width: 420px;
}

#hitch-hiker {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom : 10px;
}
#hitch-hiker-cap {
	padding: 7%;
	width: 420px;
}

#stream {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom : 10px;
}
#stream-cap {
	padding: 10%;
	width: 420px;
}

#eatwell {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom : 10px;
}
#eatwell-cap {
	padding: 10%;
	width: 420px;
}

#nudesign {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom : 10px;
}
#nudesign-cap {
	padding: 10%;
	width: 420px;
}


#fizzapron {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom : 10px;
}
#fizzapron-cap {
	padding: 10%;
	width: 410px;
}

#find-it {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom : 10px;
}
#find-it-cap {
	padding: 10%;
	width: 410px;
}

#dub-website {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom : 10px;
}
#dub-website-cap {
	padding: 10%;
	width: 410px;
}

#ttt {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom : 10px;
}
#ttt-cap {
	padding: 10%;
	width: 410px;
}

#hfb {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom : 10px;
}
#hfb-cap {
	padding: 10%;
	width: 410px;
}

#pencil {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom : 10px;
}
#pencil-cap {
	padding: 10%;
	width: 410px;
}

#more-portfolio {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom : 10px;
}
#more-portfolio-cap {
	padding-top: 5%;
	padding-left: 3%;
	width: 930px;
}